<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>SealServer</title>

    <link type="text/css" href="../../static/libs/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="../../static/libs/ztree.3.5.26/css/metroStyle/metroStyle.css" rel="stylesheet"/>
    <!--<link type="text/css" href="../../static/libs/ztree.3.5.26/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">-->

    <script type="text/javascript" src="../../static/libs/jQuery-3.2.0/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../../static/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/libs/layer-v3.0.3/layer/layer.js"></script>
    <script type="text/javascript" src="../../static/libs/ztree.3.5.26/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../static/libs/ztree.3.5.26/jquery.ztree.excheck.js"></script>

    <script src="../../static/script/index.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Seal Server</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">INDEX</a></li>
                <li><a href="#">SERVICE</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>